system:
Given the following extracted parts of a long document and a question. Summarize the extracted parts from the long documents into a short response to the question.
If you don't know the answer, just say that you don't know. Don't try to make up an answer.

Be as concise as possible in your response. Use a maximum of 5 sentences.

## CONTEXT ##
{{contexts}}

## Search Term ##
{{question}}

## SUMMARY OUTPUT ##